.cartpage {
  img {
    width: 6.25rem;
  }

  .item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .col-4 {
      display: flex;
      align-items: center;
      gap: 5px;

      h5 {
        margin: 0;
      }

      @media (max-width: 48rem) {
        & {
          flex-direction: column;
        }
      }
    }

    .col-3 {
      .quantity {
        width: 4.6875rem;
        outline: 1px solid gray;
        border: none;
        display: flex;
        justify-content: space-between;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;

        button {
          border: none;
          outline: 1px solid gray;
          padding-inline: 5px;
          overflow: hidden;
        }

        .btn1 {
          border-radius: 5px 0 0 5px;
          -webkit-border-radius: 5px 0 0 5px;
          -moz-border-radius: 5px 0 0 5px;
          -ms-border-radius: 5px 0 0 5px;
          -o-border-radius: 5px 0 0 5px;
        }

        .btn2 {
          border-radius: 0 5px 5px 0;
          -webkit-border-radius: 0 5px 5px 0;
          -moz-border-radius: 0 5px 5px 0;
          -ms-border-radius: 0 5px 5px 0;
          -o-border-radius: 0 5px 5px 0;
        }
      }
    }

    .delete {
      color: red;
      font-size: 1.85rem;
    }

    hr {
      margin-block: 0.625rem;
    }
  }
}
