.categories-container {
  background: #eee;
  border: 15px solid #eee;

  .category-item {
    background: white;
    padding-block: 25px;
    border-radius: 5px;

    .categories {
      display: flex;
      justify-content: center;
      gap: 20px;

      @media (max-width: 34.375rem) {
        flex-wrap: wrap;
      }

      .category {
        display: flex;
        align-items: center;
        gap: 15px;
        padding-inline: 0.625rem;
        transition: 0.5s all;
        padding: 10px;
        border-radius: 5px;

        &:hover {
          background-color: #e2e2e2;
          transform: scale(1.1);
        }

        &:hover .title{
          font-weight: 700;
        }

        &:hover img{
          transform: scale(0.75);
        }

        @media (max-width: 750px) {
          flex-direction: column;
        }

        img {
          width: 3.75rem;
          max-width: 100%;
          transition: .5s all;

          @media (max-width: 34.375rem) {
            width: 3.125rem;
          }
        }

        .text-container {
          .title {
            margin-bottom: -10px;
            transition: 0.25s all;
          }

          .sub_title {
            margin: 0;
          }
        }
      }
    }
  }
}
