.categories{


  .category-item{
    display: flex;
    justify-content: start;
    align-items: end;
    overflow-x: scroll;
    gap: 3.125rem;

    &::-webkit-scrollbar{
      display: none;
    }

    .link{
      width: 12.5rem;

      &:hover img{
        transform: translateY(-0.3125rem) scale(1.1);
      }

      &:hover p{
        color: red;
      }

      img{
        width: 100%;
        transition: .5s all;
      }

      p{
        text-align: center;
        font-weight: 600;
        transition: .5s all;
      }
    }
  }
}