.card-container {
  border: 1px solid rgb(203, 203, 203);
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
  -o-transition: 0.5s all;
  margin-bottom: 25px;
  height: 23rem;

  &:hover {
    transform: translateY(-0.625rem);
    -webkit-transform: translateY(-0.625rem);
    -moz-transform: translateY(-0.625rem);
    -ms-transform: translateY(-0.625rem);
    -o-transform: translateY(-0.625rem);
    box-shadow: 0 0 5px black;
  }

  &:hover .icon {
    display: hidden;
  }

  .img {
    padding: 15px;
    display: flex;
    justify-content: center;
    height: 200px;
    overflow: hidden;

    img {
      height: 100%;
      overflow: hidden;
    }
  }

  .card-bottom {
    height: 160px;
    padding: 0.625rem 0.9375rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h4 {
      font-size: 1.125rem;
      color: rgb(196, 1, 1);
    }

    p {
      margin: 0;
      color: gray;
    }

    .add {
      text-align: end;
      color: red;

      .icon {
        font-size: 1.75rem;
        transition: 0.5s all;

        &:hover {
          color: gray;
        }
      }
    }

    .gikautos {
      font-weight: 600;
      text-align: end;

      span {
        color: red;
      }
    }
  }
}
