.search{
    padding-block: 1.25rem;

    input{
        width: 100%;
        padding: .3125rem .625rem;
        border-radius: .625rem;
        border: 1px solid rgb(157, 0, 0);
        margin-bottom: .9375rem;
    }
}